<%- include('./partials/header') %>

    <div class="w-full h-screen flex px-20">
        <div class="w-1/2 flex items-center justify-center h-screen">
            <div class="w-full px-32">
                <h3 class="text-4xl">welcome to <span class="text-blue-400 font-semibold">Scatch</span>
                </h3>
            </div>
        </div>
    </div>

    <%- include('./partials/footer') %>